#include <winres.h>
#include "resource.h"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 440, 380
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "File Transfer App"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
LTEXT           "IP:", IDC_STATIC_IP, 10, 10, 20, 8
EDITTEXT        IDC_EDIT_IP, 30, 8, 100, 14, ES_AUTOHSCROLL
LTEXT           "Port:", IDC_STATIC_PORT, 140, 10, 25, 8
EDITTEXT        IDC_EDIT_PORT, 170, 8, 50, 14, ES_AUTOHSCROLL | ES_NUMBER
PUSHBUTTON      "Start Server", IDC_BTN_START_SERVER, 230, 7, 80, 16
PUSHBUTTON      "Connect", IDC_BTN_CONNECT, 320, 7, 60, 16

LTEXT           "Receive Folder:", IDC_STATIC_FOLDER, 10, 30, 60, 8
EDITTEXT        IDC_EDIT_FOLDER, 75, 28, 280, 14, ES_AUTOHSCROLL | ES_READONLY
PUSHBUTTON      "Select File", IDC_BTN_SELECT_FILE, 10, 50, 80, 16
PUSHBUTTON      "Send", IDC_BTN_SEND, 100, 50, 60, 16

CONTROL         "", IDC_PROGRESS, "msctls_progress32", PBS_SMOOTH, 10, 75, 420, 16
CONTROL         "", IDC_LIST_LOG, "LISTBOX", LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 10, 100, 420, 270
END